<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	<title>GYDUS</title>
	<meta name="description" content="">
	<meta name="author" content="">
	
	<!--  Mobile viewport optimized: j.mp/bplateviewport -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<!-- CSS concatenated and minified via ant build script-->
	 <link href="css/style.css" rel="stylesheet">
	 <link href="css/bootstrap.css" rel="stylesheet">	<!-- end CSS-->
	
</head>

	<!-- Parent container for the page, load your core templates into this div -->
<!-- 		//NAVIGATION -->
	        <section class="navbar  navbar-fixed-top ">
	        	<section class="navbar-inner dark-header">

<!-- 	   // LOGO -->
					<section class="logo">
		        		<a class="brand gydus-logo" href="#"><img src="webroot/img/Gydus-logo-01.png" alt="Gydus" /></a>
					</section><!-- end of logo -->
					
	        	</section> <!-- close navbar-inner dark-header -->
        
 <section id="aquilex-login" class="login hide">
        	<section id="aq-form-login" class="alert alert-success">
			<form id="login" class="form-signin loginForm">
		
			
					<input class="input-block-level email" name="email" type="email" placeholder="Email" required="required"  />
					
					<section class="control-group">
						<input class="input-block-level password" name="password" type="text" placeholder="Password" required="required" />
						<span class="help-inline hide">invalid password</span>
					</section>
					<input class="btn btn-success" type="submit" value="Log in" />
					<input id="fbLogin" class="btn btn-primary " type="button" value="Sign in with facebook" />
					<button id="cancel-login" class="btn btn-danger muted pull-right">cancel</button>
					<p class="forgotPW"><a href="#">forgot password?</a></p>

			  </form>
        	</section>
		</section><!-- end of login -->

