<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	<title>GYDUS</title>
	<meta name="description" content="">
	<meta name="author" content="">
	
	<!--  Mobile viewport optimized: j.mp/bplateviewport -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<!-- CSS concatenated and minified via ant build script-->
	 <link href="css/style.css" rel="stylesheet">
	 <link href="css/bootstrap.css" rel="stylesheet">	<!-- end CSS-->
	
</head>
<body class="landing">

	<!-- Parent container for the page, load your core templates into this div -->
<!-- 		//NAVIGATION -->
	        <section class="navbar  navbar-fixed-top ">
	        	<section class="navbar-inner dark-header">

<!-- 	   // LOGO -->
					<section class="logo">
		        		<a class="brand gydus-logo" href="#"><img src="webroot/img/Gydus-logo-01.png" alt="Gydus" /></a>
					</section><!-- end of logo -->
					
					<a class="brand signin nav-signin pull-right" href="../views/login.html">Sign In</a>
	        		</section><!-- close container"-->
	        	</section> <!-- close navbar-inner dark-header -->
        
<!--  end of header -->

				<section class="CTA">
					<img src="img/mapbg.png" alt="cta"/>
					<section class="cta-text">
						<p>Find your classroom, quickly with<br>
						   GYDUS. Its <strong>fun</strong>, <strong>fast</strong>, and <strong>friendly</strong>.<br>
						   <strong>Search now</strong> 
						</p>
					</section><!-- end of cta-text-->
					
					<section class="cta-searchbar">
								
						<section class="input-append gydus-searchbox">
						  <input class="span2 searchBar " id="searchBar" type="text" placeholder="Search Keyword or Classroom">
							 	
						</section><!-- end of input-append aqilex-searchbar-->
		
					</section><!-- end of cta-searchbar-->
				
				</section><!--end of CTA -->
				
				<section class="signup-section">
					<section class="signup-section-text">
						<p>Try GYDUS for <strong>FREE</strong> and start finding<br>
your classrooms <strong>in under 60 seconds</strong>!</p>
					</section><!-- end of signup-section-text-->
					
					<section class="signup-section-btn">
						<button class="btn btn-large btn-block gydus-btn-large btn btn-success" type="button">SIGN UP NOW</button>
					</section><!-- end of signup-section-btn-->
				
				</section><!-- end of signup-section-->
				
				
				<section class="video-section">
					<section class="video-video">
						<video class="gydus-video" width="240" height="160" controls>
						<source src="webroot/superman.mp4" type="video/mp4">
						<source src="webroot/superman.ogg" type="video/ogg">
						Your browser does not support the video tag.
					</section><!-- end of video-video -->
				</section><!-- end of video-section -->
				
				<section class="keyfeatures-section">
					<section class="keyfeatures-section-title">
						<p class="kfsT">KEY FEATURES</p>
					</section><!-- end of keyfeatures-section-title-->
					<section class="keyfeatures-section-bullets">
						<section class="keyfeatures-section-bullets-text">
							<ul class="kf-left">
								<li>Directions to location</li>
								<li>Easy to use interface</li>
								<li>Suggest a location</li>
							
							
								<li>Finding locations</li>
								<li>Points of interest</li>
								<li>GPS positioner</li>
								</ul><!-- end of kf-left-->
						</section><!-- end of keyfeatures-section-bullets-text-->
					</section><!-- end of keyfeatures-section-bullets-->
				</section><!--end of keyfeatures-section>
				
				
				